* {
  margin:0px;
  padding:2px;
}

body {
  background-color: #0077b6;
  color: white;
}

a {
  color: yellow;
}

h4 {
  color: blue;
  text-align: center;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

tr {
	background-color: #03045e;
	text-align: left;
}

td {
	background-color: 00b4d8;
}